/dts-v1/;

#include "sm8250.dtsi"

/ {
	model = "Xiaomi Redmi K30 Pro / POCO F2 Pro (lmi)";
	compatible = "xiaomi,lmi", "qcom,sm8250";

	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
		bootargs = "earlycon=msm_geni_serial,0xa90000 console=tty0 loglevel=8 ignore_loglevel initcall_debug";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x70000000>;
	};
};

&xbl_aop_mem {
	reg = <0x0 0x80600000 0x0 0x00260000>;
};

&slpi_mem {
	reg = <0x0 0x88c00000 0x0 0x02f00000>;
};

&adsp_mem {
	reg = <0x0 0x8bb00000 0x0 0x02500000>;
};

&spss_mem {
	reg = <0x0 0x8e000000 0x0 0x00100000>;
};

&cdsp_secure_heap {
	reg = <0x0 0x8e100000 0x0 0x04600000>;
};

&{/reserved-memory} {
	reserved_xbl_uefi_log: memory@80880000 {
		compatible = "removed-dma-pool";
		no-map;
		reg = <0x0 0x80880000 0x0 0x00014000>;
	};

	cont_splash_memory: memory@9c000000 {
		reg = <0x0 0x9c000000 0x0 0x02300000>;
		label = "cont_splash_region";
	};

	dfps_data_memory: memory@9e300000 {
		reg = <0x0 0x9e300000 0x0 0x00100000>;
		label = "dfps_data_region";
	};

	ramoops: ramoops@b0000000 {
		compatible = "ramoops";
		no-map;
		reg = <0x0 0xb0000000 0x0 0x00400000>;
		record-size = <0x00040000>;
		console-size = <0x00200000>;
		pmsg-size = <0x00100000>;
		ecc-size = <0x0>;
	};

	disp_rdump_memory: memory@b0400000 {
		compatible = "removed-dma-pool";
		no-map;
		reg = <0x0 0xb0400000 0x0 0x01000000>;
		label = "disp_rdump_region";
	};
};
